<%= form_with(model: offer_params, url: offers_path, scope: "", local: true, method: :get) do |form| %>
  <% if offer_params.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer_params.errors.count, "error") %> prohibited this site from searching:</h2>

      <ul>
        <% offer_params.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price_gte %>
    <%= form.number_field :price_gte %>
  </div>

  <div class="field">
    <%= form.label :price_lte %>
    <%= form.number_field :price_lte %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit("Search") %>
  </div>
<% end %>
