<h1>Offers</h1>

<% if user_signed_in? %>
  <%= link_to 'New Offer', new_offer_path %>
<% end %>

<%= render 'search_form', offer_params: @offer_params %>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td>
          <% if offer.photo.attached? %>
            <%= image_tag offer.photo.variant(resize_to_limit: [200, 200]) %>
          <% else %>
            <%= image_tag 'https://via.placeholder.com/200' %>
          <% end %>
        </td>
        <td><%= link_to offer.title, offer %></td>
        <td><%= offer.price %></td>
        <td><%= offer.description %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
          <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @offers %>

