<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<% if @offer.photo.attached? %>
  <%= image_tag @offer.photo.variant(resize_to_limit: [400, 400]) %>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_offer_path(@offer) %> |
<% end %>

<%= link_to 'Back', offers_path %>
