<!DOCTYPE html>
<html>
  <head>
    <title>JustCars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless user_signed_in? %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>

    <p id="notice" class="notice"><%= notice %></p>
    <p id="alert" class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
